h3 editor test
hr
div.file-box
    form(action="http://oimagea1.ydstatic.com/upload?method=uploadImage&tourl=http://192.168.11.157/~ice/testdev/", method="post", target="hidden-iframe", enctype="multipart/form-data", name="formx")
        input#textfield.txt(type="text")
        input.btn(value="浏览...", type="button")
        input#fileToUpload.file(name="fileToUpload", type="file", size="28", onchange="document.getElementById('textfield').value=this.value")
        input.btn(name="submit", type="submit", value="上传")
    iframe#hidden-iframe(name="hidden-iframe", src="gongbing.iyoudao.net")
div#showBox
hr
div
    script#editor(type="text/plain") text
hr
div
