section.team
    h4 团队介绍
    hr
    section
        img(src="../images/ppt/team.png")
        div
            巩兵、段君、朱琳、刘志强
            br
            small.red
                另外要特别感谢ui组的
                em 张中海
                同学为我们提供ui支持
