section.page3
    h4 闯黄灯是什么
    hr
    br
    section
        blockquote
            一个
            em 网页版
            的体感游戏 ! !
        br
        blockquote
            体感游戏是一种通过肢体动作变化来进行（操作）的新型电子游戏。
    section
        img(src="../images/ppt/page2.jpg")
    section
        blockquote
            一个基于
            em HTML5
            的
            br
            em 纯前端
            的体感游戏 ! !
