section.page2
    h4 展示
    hr
    section
        img(src="../images/ppt/game.png")
    section
        br
        video(preload="", controls="", width="640")
            source(src="../mov/show.mov")
