section.page4
    h4 HTML5还能实现哪些很炫的效果
    hr
    br
    section
        blockquote 现在展示的ppt就是一个利用HTML5和CSS3所展示出来的
    section
        a(href="http://127.0.0.1/~ice/demo/sand.html", target="_blank") 
            img(src='../images/ppt/img1.png')
        blockquote 一个沙画游戏
    section
        a(href="http://static.mrdoob.com/projects/chromeexperiments/ball-pool/", target="_blank")
            img(src='../images/ppt/img2.png')
        blockquote ball pool

