section.page3
    h4 闯黄灯是什么
    hr
    br
    section
        blockquote
            一个基于
            em HTML5
            的
            br
            em 纯前端
            的体感游戏 ! !
    section
        blockquote
            一个
            em 网页版
            的体感游戏 ? ?
    section
        img(src="../images/ppt/page2.jpg")
