extends ../layout/layout1

block styles
    link(rel="stylesheet", type="text/css", href="../css/demo.css")

block content
    include ../modules/demo/demo

block scripts
    script(type='text/javascript', src='../js/demo-dev.js')
