extends ../layout/layout1

block styles
    link(rel="stylesheet", type="text/css", href="../css/userMedia.css")

block content
    include ../modules/userMedia/userMedia1

block scripts
    script(type='text/javascript', src='../js/userMedia-dev.js')
