script(type='text/javascript', src='../js-lib/editor_config.js')
script(type='text/javascript', src='../js-lib/editor_all.js')
script(type='text/javascript', src='../js/1-dev.js')
script(type='text/javascript', src='../js/upload-dev.js')
