script(type='text/javascript', src='../js-lib/editor_config.js')
script(type='text/javascript', src='../js-lib/editor_all.js')
script(type='text/javascript', src='http://192.168.63.94/js/editor.js')
script(type='text/javascript', src='../js/upload-dev.js')
