!!!5
html
    head
        title demo page
        include ../includes/ascii
        include ../common/meta
        include ../common/js-lib
        include ../common/css
        include ../common/js

    body
        div This is a test for upload image.
        include ../modules/imageUpload
    script(type='text/javascript', src='../js/editor-dev.js')

