!!!5
html
    head
        title demo page
        include ../includes/ascii
        include ../common/meta
        include ../common/js-lib
        include ../common/css
        include ../common/js
        block styles

    body
        block content

    block scripts

